/* [ON BIG SCREEN] */
/* Wrapper */
#page-nav {
    width: 100%;
    background: #fff;
    position: sticky;
    top: 0;
}

/* Hide Hamburger */
#page-nav label, #hamburger {
    display: none;
}

/* Menu Items */
#page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#page-nav ul li {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}
#page-nav ul li a {
    color: #000;
    text-decoration: none;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
    /* Show Hamburger */
    #page-nav label {
        display: inline-block;
        color: #000;
        background: #whitw;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }

    /* Break down menu items into vertical */
    #page-nav ul li {
        display: block;
    }
    /*#page-nav ul li {*/
    /*    border-top: 1px solid #333;*/
    /*}*/

    /* Toggle show/hide menu on checkbox click */
    #page-nav ul {
        display: none;
    }
    #page-nav input:checked ~ ul {
        display: block;
    }
}

#page-nav ul li a.selected {
    color: red
}

a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

a.anchor {
    top: -50px;
}

.intro {
    text-align: center;
    margin-top: 40px;
}

.intro h1 {
    font-family: 'Stalemate', cursive;
    font-size: 7em;
    line-height: 0.6;
    margin: 0 0;
}

.intro p {
    margin: 0 0;
    font-size: 1.3em;
}

/* [DOES NOT MATTER] */
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}