/* [ON BIG SCREEN] */
/* Wrapper */
#page-nav {
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 5px 3px 3px #797979;
    background-image: linear-gradient(to right, #08c389, #ffffff);
}

/* Hide Hamburger */
#page-nav label, #hamburger {
    display: none;
}

/* Menu Items */
#page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#page-nav ul li {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

#page-nav ul li a {
    color: #5c5c5c;
    text-decoration: none;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {
    /* Show Hamburger */
    #page-nav label {
        display: inline-block;
        color: #000;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }

    /* Break down menu items into vertical */
    #page-nav ul li {
        display: block;
    }

    /*#page-nav ul li {*/
    /*    border-top: 1px solid #333;*/
    /*}*/
    /* Toggle show/hide menu on checkbox click */
    #page-nav ul {
        display: none;
    }

    #page-nav input:checked ~ ul {
        display: block;
    }
}

a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

a.anchor {
    top: -50px;
}

.intro {
    text-align: center;
    margin-top: 0px;
    padding-bottom: 39px;
    padding-top: 70px;
    /*#background-image: linear-gradient(90deg, #ffffff, #2a6bd8);*/
    background-color: white
}


.intro h1 {
    font-family: 'Stalemate', cursive;
    font-size: 7em;
    line-height: 0.6;
    margin: 0;
}

.intro p {
    margin: 0;
    font-size: 1.3em;
    /*background-image: url("dandelion-small.jpg");*/
    /*background-repeat: repeat;*/
}

.separator {
    /*background-color: #7fc597;*/
    height: 15px;
    margin: 0 0 15px 0;
    width: 100%;
    width: 100vw;
    box-shadow: 5px 3px 3px #797979;
    background-image: linear-gradient(to right, #8CDEA2, #ffffff);
}

hr {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    height: 3px;
    border: 0;
    /*background: #333;*/
    background-image: linear-gradient(to right, white, #ACEB88, white);
}

h1 {
    font-weight: normal;
    font-size: 1.5em;
}

.content1 {
    margin: 15px 10px 15px 10px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto
}

.fuzzybox {
    background-color: #bef0ff;
    padding: 1px 10px 1px 10px;
    box-shadow: 0px 0px 10px #88EBDA;
}

.content1 div.container {
    margin-left: 15px;
    margin-right: 15px;
}

.content2 {
    padding: 10px 25px 10px 25px;
    margin: 10px 0px 10px 0px;
    background-color: #f5f5f5
}

.content2 div.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto
}

#footer {
    padding: 0 10px 0 10px;
    text-align: center;
}

.mobile {
    color: #797979;
}

.email {
    color: #797979;
}

.external {
    color: #797979;
}

.address {
    margin-left: 65px
}

table {

}

/* [DOES NOT MATTER] */
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #797979;
    /*background-color: #f7fff6*/
    /*background-image: linear-gradient(to right, #ffffff, #ebfff7);*/
    background-color: white
}